* {box-sizing:border-box}


/* Slideshow container */
.slideshow-container {
	width: 100vw;
	position: relative;
	margin: auto;
}


/* Hide the images by default */
.mySlides {
	display: none;
	margin: 0 auto;
	margin-top: 5%;
	text-align: center;
}


/* Next & previous buttons */
.prev, .next {
	top: 45%;
	display: inline-block;
	position: absolute;
	cursor: pointer;
	width: auto;
	padding: 1%;
	color: white;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	background-color: rgba(0,0,0,0.5);
	clear: both;
}


.next {
	margin-left: 86.5%;
  	border-radius: 3px 0 0 3px;
  	float: right;
}


.prev {
	margin-left: 10%;
	float: left;
}



@media screen and (min-width: 900px){
	.next {
		margin-left: 67.2%;
	  	border-radius: 3px 0 0 3px;
	  	float: right;
	}

	.prev {
		margin-left: 30%;
		float: left;
	}
}



/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover{
	background-color: rgba(0,0,0,0.8);
}



/* Caption text */
.text {
	color: rgba(0,0,0,1);
	font-size: 2vw;
	padding: 0.5%;
	position: absolute;
	width: 100%;
	text-align: center;
}



/* Number text (1/6 etc) */
.numbertext {
	z-index: 2;
	color: rgba(0,0,0,0.7);
	font-size: 1vw;
	padding: 1.5% 31.5%;
	position: absolute;
	top: 0;
}



.dots {
	text-align: center;
	padding-top: 2%;
	position: relative;
	margin-left: 6vw;
}



@media screen and (max-width: 900px) {
	.dots {
		margin-left: 5vw;
	}
} 


/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 2vh;
	width: 2vw;
	margin: 0 1vw;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}



.dots .active{
	background-color: rgba(127, 255, 212, 1);
  	-o-background-image: linear-gradient(rgb(249 255 0), rgb(255 0 0));
  	-webkit-background-image: linear-gradient(rgb(249 255 0), rgb(255 0 0));
  	-moz-background-image: linear-gradient(rgb(249 255 0), rgb(255 0 0));
  	-ms-background-image: linear-gradient(rgb(249 255 0), rgb(255 0 0));
  	background-image: linear-gradient(rgb(249 255 0), rgb(255 0 0));
	opacity: 1;
}


.dot:hover {
	background-color: rgba(127, 255, 212, 1);
	-o-background-image: linear-gradient(rgba(127,255,212,1), rgba(127,200,255,1));
	-webkit-background-image: linear-gradient(rgba(127,255,212,1), rgba(127,200,255,1));
	-moz-background-image: linear-gradient(rgba(127,255,212,1), rgba(127,200,255,1));
	-ms-background-image: linear-gradient(rgba(127,255,212,1), rgba(127,200,255,1));
	background-image: linear-gradient(rgba(127,255,212,1), rgba(127,200,255,1));
}



/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}



@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}



@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}



img.SlideImg {
	position: relative;
	width: 80vw;
	margin: 0 auto;
}



@media screen and (min-width: 900px) {
	img.SlideImg {
		position: relative;
		width: 40vw;
		margin: 0 auto;
	}
}



.mySlides a {
	taxt-align: center;
}


#SlideMark {
	text-align: center;
	margin: 0 auto;
}

#Note {
	padding-bottom: 5%;
}